body {
  /*padding: 50px;*/
  font: 14px Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

h2 {
  font-weight: 300;
  font-size: 40px;
}

h4 {
  font-weight: normal;
  font-size: 16px;
}

.header {
  color: #ffffff;
  background: #00A800;
  padding: 20px;
}

.container {
  padding: 20px;
}

li {
  list-style: none;
  padding-bottom: 10px;
}
