body {
  /*padding: 50px;*/
  font: 14px Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

h2 {
  font-weight: 300;
  font-size: 40px;
  margin: 15px 0;
}

h4 {
  font-weight: normal;
  font-size: 16px;
}

td {
  vertical-align: top;
  padding-right: 20px;
}

.header {
  color: #ffffff;
  background-image: url('/images/banner-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: 100%;
}

.container {
  padding: 0 20px;
  min-height: 200px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -99;
}

.footer-logo-container {
  position: relative;
}

.footer-logo {
  height: 30px;
  padding: 20px;
  float: right;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

.tag-multiple{
  font-size:15px;
  text-indent:-1.5px;
  padding-left:2.5px;
  height: 100%;
  min-height: 200px;
}

.timeseries_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor:pointer;
    margin-top: 20px;
}

.start-time{
  font-size:15px;
  text-indent:-1.5px;
  padding-left:2.5px;
}

.windyservice_chart_div{
  display: inline-block;
}

.windyservice_chart_canvas{
  height:500px;
  width:400px;
}
